/* Form container */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    max-width: 25%; /* Adjust max-width as needed */
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    background-color: #f9f9f9; /* Adjust background color as needed */
  }
  
  /* Tabs */
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  /* Tab button */
  .tab {
    flex: 1;
    text-align: center;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
  }
  
  .tab.active {
    background-color: #012367; 
    color:#f9f9f9/* Adjust active tab background color as needed */
  }
  
  /* Form content */
  .form-content {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    
  }
  
  /* Input fields */
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="date"] {
    width: 100%; /* Adjust input width as needed */
    padding: 10px;
    /* border: 1px solid #ccc;  */
    border-radius: 5px;
  }
  
  /* Submit button */
  button[type="submit"] {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #007bff; /* Adjust button color as needed */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    max-width: 600px; /* Adjust max-width as needed */
    margin: 0 auto;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Adjust hover color as needed */
  }
  
  /* Error message */
  span.error-message {
    color: red;
  }
  